<div class="card text-center">
  <div class="card-header">
    Тестовое приложение
  </div>
  <div class="card-body">
    <h5 class="card-title">Приложение с авторизацией через ВКонтакте</h5>
    <p class="card-text">Никакие данные не хранятся на сервере приложения.</p>
    <%= link_to 'Войти через Вконтакте', @vk_path, class: "btn btn-primary", role: "button" %>
    </div>
</div>